# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/crash.log

# Docker / segredos
docker/.env

# Diversos
.DS_Store
*.log
